<div class="main_con clearfix">
  <div class="left_menu_con clearfix">
    <h3>用户中心</h3>
    <ul>
      <li><a href="/">返回主页</a></li>
    </ul>
  </div>
  <div class="right_content clearfix">
    <h3 class="common_title2">编辑地址</h3>
    <div class="site_con">
      <form method="post" action="/addAddress">
        <div class="form_group">
          <label>收货人：</label>
          <input type="text" name="receiver" />
        </div>

        <div class="form_group form_group2">
          <label>所在地区：</label>
          <textarea class="site_area" name="area"></textarea>
        </div>

        <div class="form_group form_group2">
          <label>详细地址：</label>
          <textarea class="site_area" name="address"></textarea>
        </div>

        <div class="form_group">
          <label>手机：</label>
          <input type="text" name="phone" />
        </div>

        <input type="submit" name="" value="提交" class="info_submit" />
      </form>
    </div>
  </div>
</div>
